<%= simple_form_for @slider, html: { multipart: true } do |f| %>
  <% if @slider.errors.any? %>
    <div class="errors">
      <p><%= @slider.errors.count %> Onemogucilo postavljanje slidera!</p>
      <ul>
        <% @slider.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel-body">
    <%= f.input :slider_name, input_html: { class: 'form-control' } %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
