<%= simple_form_for @post, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <div id="errors">
      <p><%= @post.errors.count %> Greška Onemogućilo Kreiranje Posta </p>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div><!-- end errors -->
  <% end %>

  <div class="panel-body">
    <div class="page-header">
    <%= f.input :title, label: "Naslov", autofocus: true, input_html: { class: 'form-control' } %>
      <p>Tag <span class="highLT">&lt;</span><span class="highELE">br</span><span class="highGT">&gt;</span>  prestavlja novi prazan red</p>
        <p> Prelazak u novi red pritiskom dugme Enter</p>
    <br>
    <%= f.input :description, label: "Kratki Opis", input_html: { class: 'form-control' } %>
      
    <br>
    <%= f.input :datum, as: :date, label: "Datum", input_html: { class: 'form-control' } %>
    <br>
    <div class="category">
      <ul>
      <%= f.collection_radio_buttons :category_name,  [['wedding'] ,['work'], ['video'], ['design'], [' services']], :first, :last, { item_wrapper_tag: false} do |b| %>
         <li> <%= b.label { b.radio_button + b.text } %> </li>
      <% end %>
      </ul>
    </div><!-- end category -->
    </div>
    <div class="row">
      <div class="col-md-6" id="images">
          <h3>Slike za Post</h3>
        
          <div id="blocks">
                <%= f.simple_fields_for :post_images do |slika| %>
                  <div id="image-wrapper" ></div>
                                                        
                  <%= render 'post_image_fields', f: slika %>
                   
                  <%= link_to_add_association 'Dodaj Sliku', f, :post_images, class: "btn btn-success add-button" %>
                <% end %>
          </div><!-- end images -->
      </div><!-- end col-md-6 -->
      <div class="col-md-6" id="videos">
        <h3>Posts Videos</h3>

        <div >
              <%= f.simple_fields_for :videos do |snimak| %>
              
                  <%= render 'video_fields', f: snimak %>

                  <div class="buttons">
                    <%= link_to_add_association 'Dodaj Video', f, :videos, class: "btn btn-success add-button" %>
                  </div><!-- end links -->
              <% end %>
        </div><!-- end videos -->
      </div><!-- end col-md-6 -->  
      <br>

      
    </div>
    </div><!-- end row -->
    <div class="links">
    <%= f.button :submit, class: "btn btn-primary", id: 'submit-data' %>
    <%= link_to 'Back', blog_path, class: "btn btn-default" %>
    </div>
  </div><!-- end panel-body -->
<% end %>