<%= simple_form_for @post, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <div id="errors">
      <p><%= @post.errors.count %> Onemogucilo kreiranje slidera </p>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div><!-- end errors -->
  <% end %>

  <div class="panel-body">
    
    <%= f.input :title, input_html: { class: 'form-control' } %>
    <br>
    <%= f.input :description, input_html: { class: 'form-control' } %>
    <br>
    <div class="category">
      <ul>
      <%= f.collection_radio_buttons :category_name,  [["Vencanje"] ,['Foto Model'], ['Usluge']], :first, :last, { item_wrapper_tag: false} do |b| %>
         <li><%= b.label { b.radio_button + b.text } %></li>
      <% end %>
      </ul>
    </div><!-- end category -->

    <div class="row">
      <div class="col-md-6">
          <h3>Posts Images</h3>
        
          <div id="post_images">
                <%= f.simple_fields_for :post_images do |slika| %>
                
                    <%= render 'post_image_fields', f: slika %>

                    <div class="links">
                      <%= link_to_add_association 'Dodaj Sliku', f, :post_images, class: "btn btn-success add-button" %>
                    </div><!-- end links -->
                <% end %>
          </div><!-- end images -->
      </div><!-- end col-md-6 -->
      <div class="col-md-6">
        <h3>Posts Videos</h3>

        <div id="videos">
              <%= f.simple_fields_for :videos do |snimak| %>
              
                  <%= render 'video_fields', f: snimak %>

                  <div class="links">
                    <%= link_to_add_association 'Dodaj Video', f, :videos, class: "btn btn-success add-button" %>
                  </div><!-- end links -->
              <% end %>
        </div><!-- end videos -->
      </div><!-- end col-md-6 -->  
      <br>

      
    </div>
    </div><!-- end row -->
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to 'Back', blog_path, class: "btn btn-default" %>
    <br>
  </div><!-- end panel-body -->
<% end %>