<div class="container">

  <div class="page-wrapper">
    <div class="page-header">
      <div class="title">
        <h2><%= @post.title %></h2>
      </div>
      
      <div class="description">
        <p><%= simple_format @post.description %></p>
      </div>
    </div>
    
     <% if admin_signed_in? %>
      <div class="date">
        <p><%= @post.datum %></p>
      </div>
    <% end %>

    <div class="images">
  
        <% if @post.videos(params[:url]).empty? %>
            
            <% @post.post_images.each do |f| %>
              <div class="image-wrapper" id="images-show">
                <%= image_tag f.photo.url %>
              </div>

            <% end %>
          <% else %>
            
            <% @post.post_images.drop(1).each do |images| %>
              <div class="image-wrapper" id="images-show">
                <%= image_tag images.photo.url %>
              </div>
            <% end %>
        <% end %>

    </div>

    <div class="videos">
      <% @post.videos.each do |video| %>
        <% if video.url.present? %>
          <div class="embed-container">
            <%= embed(video.url) %> 
          </div> 
        <% end %>
      <% end %>
    </div>

    <div class="links">
      <% if admin_signed_in? %>
        <%= link_to "Back", blog_path, class: "btn btn-default" %>
        <%= link_to "Edit", edit_admin_post_path, class: "btn btn-default" %>
        <%= link_to "Obrisi", admin_post_path, method: :delete, data: {confirm: "Jeste li sigurni?" }, class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div><!-- end container -->
<% content_for :title, @post.title %>
<% content_for :description, @post.description %>