<%= simple_form_for @post, html: { multipart: true } do |f| %>
	<% if @post.errors.any? %>
		<div id="errors">
			<p><%= @post.errors.count %> Prevented this post from saving </p>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="panel-body">

		<%= f.input :title, input_html: { class: 'form-control' } %>
		<br>
		<%= f.input :description, input_html: { class: 'form-control' } %>
		<br>
	<h3>Posts_Images</h3>
	<div class="images">
				<%= f.simple_fields_for :post_images do |slika| %>
				
						<%= render 'post_image_fields', f: slika %>

						<div class="links">
							<%= link_to_add_association 'Dodaj Sliku', f, :post_images, class: "btn btn-default add-button" %>
						</div>
				<% end %>
	</div>
		<br>

		<%= f.button :submit, class: "btn btn-primary" %> 

	</div>
<% end %>