<%= simple_form_for @post, html: { multipart: true } do |f| %>
	<% if @post.errors.any? %>
		<div id="errors">
			<p><%= @post.errors.count %> Prevented this post from saving </p>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="panel-body">

		<%= f.input :title, input_html: { class: 'form-control' } %>
		<br>
		<%= f.input :description, input_html: { class: 'form-control' } %>
		<br>
	<div class="post-image">
		<%= f.simple_fields_for :posts_images do |posts_image| %>
			<%= render 'posts_image_fields', f: posts_image %>

			<div class="links">
				<%= link_to_add_association 'Dodaj Sliku', f, :posts_images, class: "form-button btn btn-primary" %>
			</div>
		<% end %> 
	</div>
		<br>

		<%= f.button :submit, class: "btn btn-primary" %> 

	</div>
<% end %>