<div class="container" id="indexBlog">
	<div class="row">
		<% @posts.in_groups_of(3, false).each do |group|  %>
			<div class="row" id="postred">
				<% group.each do |post| %>
					<div class="col-md-4" id="post">
						<div>
								
								<% if post.post_images.present? %>	
								<div id="box">				
									<%= link_to post do %>
										<%= image_tag post.post_images.first.photo.url(:index) %>
									<% end %>
									<% else %> 
										<%= link_to post.title, post %>
									<% end %>
								<div id="overlay">
									<div class="title">
										<h2><%= post.description %></h2>
										<%= link_to post.title, post %>
									
										<p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
									</div>
								</div>
							</div>
							
						</div>
					</div>			
				<% end %>
			</div>	
		<% end %>
	</div>
	<div class="container">
		<div class="row">
		 	<%= paginate @posts %> 
		</div>
	</div>
</div>
