<div class="container" id="indexBlog">
	<div class="row">
		<% @posts.in_groups_of(3, false).each do |group|  %>
			<div class="row" id="postred">
				<% group.each do |post| %>
					<div class="col-md-4" id="post">
						<div>	
								<% if post.post_images.present? %>	
								<div id="box">				
									<%= link_to post do %>
										<%= image_tag post.post_images.first.photo.url(:index) %>
									<% end %>
									<% else %> 
										<%= link_to post.title, post %>
									<% end %>

									<div id="overlay">
										<div class="title">
											<h2><%= link_to post.title.mb_chars.upcase.to_s, post %></h2>	
										</div><!-- end title -->
									</div><!-- end overlay -->
								</div><!-- end box -->
						</div><!-- end div -->
					</div><!-- end post -->			
				<% end %>
			</div><!-- end postred -->	
		<% end %>
	</div><!-- end row -->
</div><!-- end indexBlog -->
<div class="container">
	<div class="row" id="paginate">
		 <div class="col-md-4 col-md-offset-4">
			<h4>PAGE</h4>
			<%= paginate @posts %>
		</div><!-- end col-md-offset -->
	</div><!-- end paginate -->
</div><!-- end container -->
<% content_for :title, "Blog" %>
<% content_for :description, "Pratite našu Blog stranicu, prestavljamo vam najlepše radove. " %>