<div class="container">
  <% @post.posts_images.each do |posts_images| %>
    <%= image_tag posts_images.image.url(:medium) %>
  <% end %>

  <h1><%= @post.title %></h1>
  <p><%= @post.description %></p>
  <br>

  <%= link_to "Back", posts_path, class: "btn btn-default" %>
  <%= link_to "Edit", edit_post_path, class: "btn btn-default" %>
  <%= link_to "Obrisi", post_path, method: :delete, data: {confirm: "Jeste li sigurni?" }, class: "btn btn-default" %>
</div><!-- end container -->