<!DOCTYPE html>
<html>
<head>
  <title>TotalStudio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="navbar navbar-default navbar-fixed-top" id="mojNav" role="navigation">
			<div class="navbar-header">
				<div class="container" id="mojButton">
					<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button" id="menibutton">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
				
					</button>
          </div>
			</div><!-- navbar-header -->		

			<div class="navbar-collapse collapse" id="navNav">
				<ul class="nav navbar-nav">
					<li>
						<%= link_to "HOME", root_path %>	
					</li>
					<li>
						<%= link_to "BLOG", blog_path %>
					</li>
          <li id="logo">
              <%= image_tag('Logo Total 160 pixela.png') %>
          </li>
					<li>
						<%= link_to "ABOUT", o_nama_path %>
					</li>
					<li>
						<a href="#">CONTACT</a>
					</li>
				</ul><!-- end navbar-nav -->
			</div><!-- navbar-inverse -->
	</div><!-- end navbar-container -->
</div><!-- end navbar mojNav -->
</div>
<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %><!-- end flash msg -->

	<%= yield %>
 <div id="strelica">
    <center>
      <%= link_to "#", class: "scrollToTop" do %>
        <i class="fa fa-angle-up fa-3x"></i>
      <% end %>
    </center> 
  </div>
<div class="footer">
 
  <div class="row">
    <center>
      <ul>
        <li>
          <%= link_to "https://www.facebook.com/vladimir.milic1?fref=ts", :target => "_blank" do %>
            <i class="fa fa-facebook-square fa-3x"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://www.youtube.com/user/totalstudiokm", :target => "_blank" do %>
            <i class="fa fa-youtube-square fa-3x"></i>
          <% end %>
        </li>
        <li>
          <%= link_to('https://www.facebook.com/vladimir.milic1?fref=ts') do %>
           <i class="fa fa-share-alt-square fa-3x"></i>
          <% end %>
        </li>
      </ul>
    </center>
  </div>
  <div class="row" id="copyright">
    <p>Copyright © 2016 | Vladimir Milić - TOTALSTUDIO | Kosovska Mitrovica | Worldwide </p>
    <p>Irfan Bošnjak</p>
  </div>
</div>
</body>
</html>
