<!DOCTYPE html>
<html>
<head>
  <title>TotalStudio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<div class="navbar navbar-inverse navbar-fixed-top" id="mojNavBlog" role="navigation">
  
      <div class="navbar-header">
        <div class="container" id="mojButton">
          <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button" id="menibutton">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          
          </button>
        </div>
      </div><!-- navbar-header -->    
      
      <div class="navbar-collapse collapse" id="navBlog">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to "HOME", root_path, id: 'home' %>  
          </li>
          <li class="dropdown">
            <%= link_to blog_path, { class: 'dropdown-toggle disabled', 'data-toggle' => 'dropdown', id: 'blog' } do %>BLOG<span class="caret"></span>
            <% end %>
              <ul class="dropdown-menu">
                  <li>
                    <%= link_to "WEDDING", blog_path(:category_name => "wedding") %>
                  </li>
                  <li>
                    <%= link_to "WORK", blog_path(:category_name => "work") %>
                  </li>
                  <li>
                    <%= link_to "VIDEO", blog_path(:category_name => "video") %>
                  </li>
                  <li>
                    <%= link_to "DESIGN", blog_path(:category_name => "design") %>
                  </li>
                  <li>
                    <%= link_to "SERVICES", blog_path(:category_name => "services") %>
                  </li>
              </ul>
          </li>
          <li id="logo">
              <%= image_tag('Logo Total 160 pixela.png') %>
          </li>
          <li>
            <%= link_to "ABOUT", o_nama_path, class: "desno", id: 'about' %>
          </li>
          <li>
            <%= link_to "CONTACT", contact_path, class: "desno", id: 'contact' %>
          </li>
          
        </ul><!-- end navbar-nav -->
      <% if admin_signed_in? %>
            <div class="dropdown">
                <%= link_to "#", { class: 'dropdown-toggle disabled', 'data-toggle' => 'dropdown' } do %>
                  <span class="glyphicon glyphicon-user"></span> Admin 
                <% end %>

              <ul class="dropdown-menu" id="admin">
                  <li>
                    <%= link_to edit_admin_slider_path(@slider = Slider.last) do %>
                      <span class="glyphicon glyphicon-film"></span> Slider Edit
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_post_path do %>
                      <span class="glyphicon glyphicon-film"></span> Novi Post
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_admin_session_path, method: :delete do %>
                      <span class="glyphicon glyphicon-off"></span> Sing Out
                    <% end %>
                  </li>
              </ul>
            </div>
          <% end %>
      </div><!-- navbar-inverse -->
  </div><!-- end navbar-container -->
  </div>
</div><!-- end navbar mojNav -->




<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %><!-- end flash msg -->

  <%= yield %>
</div>

<div class="footer">
  <div class="row"  id="strelica">
    <center>
      <%= link_to "#", class: "scrollToTop" do %>
        <i class="fa fa-angle-up fa-3x"></i>
      <% end %>
    </center> 
  </div>
  <div class="row">
    <center>
      <ul>
        <li>
          <%= link_to "https://www.facebook.com/vladimir.milic1?fref=ts", :target => "_blank" do %>
            <i class="fa fa-facebook-square fa-3x"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://www.youtube.com/user/totalstudiokm", :target => "_blank" do %>
            <i class="fa fa-youtube-square fa-3x"></i>
          <% end %>
        </li>
        <li class="dropdown">
           <a href="" alt="Share"> <i class="fa fa-share-alt-square fa-3x"></i></a>
           <ul class="dropdown-menu" id="admin">
           <li><%= render_shareable :buttons=> ['twitter', 'facebook', 'pinterest'], :turbolinks => true %></li>
           </ul>
        </li>
      </ul>
    </center>
  </div>
  <div class="row" id="copyright">
    <p>Copyright © 2016 | Vladimir Milić - TOTALSTUDIO | Kosovska Mitrovica | Worldwide </p>
    <p>Irfan Bošnjak</p>
  </div>
</div>
</body>
</html>