<!DOCTYPE html>
<html>
<head>
  <title>TotalStudio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
<div class="navbar navbar-inverse navbar-fixed-top" id="mojNavBlog" role="navigation">
  
      <div class="navbar-header">
        <div class="container" id="mojButton">
          <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button" id="menibutton">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          
          </button>
        </div>
      </div><!-- navbar-header -->    
      
      <div class="navbar-collapse collapse" id="navBlog">
      
        <ul class="nav navbar-nav">
          <li>
            <%= link_to "Home", root_path %>  
          </li>
          <li class="dropdown">
            <%= link_to blog_path(@posts), { class: 'dropdown-toggle disabled', 'data-toggle' => 'dropdown' } do %>
            Blog
             <span class="caret"></span>
            <% end %>
              <ul class="dropdown-menu">
                  <li>
                    <%= link_to blog_path(:category_name => "Vencanje") do %>
                      <span class="glyphicon glyphicon-heart-empty"></span> Vencanja
                    <% end %>
                  </li>
                  
                  <li>
                    <%= link_to blog_path(:category_name => "Foto Model") do %>
                      <span class="glyphicon glyphicon-camera"></span> Foto Model
                    <% end %>
                  </li>
                  
                  <li>
                    <%= link_to blog_path(:category_name => "Usluge") do %>
                      <span class="glyphicon glyphicon-cog"></span> Usluge
                    <% end %>

                  </li>
              </ul>
          </li>
          <li>
            <%= link_to "O nama", o_nama_path %>
          </li>
          <li>
            <a href="#">Kontakt</a>
          </li>
          <% if admin_signed_in? %>
            <li class="dropdown">
                <%= link_to "#", { class: 'dropdown-toggle disabled', 'data-toggle' => 'dropdown' } do %>
                  <span class="glyphicon glyphicon-user"></span> Admin 
                <% end %>

              <ul class="dropdown-menu">
                  <li>
                    <%= link_to edit_admin_slider_path(@slider = Slider.last) do %>
                      <span class="glyphicon glyphicon-film"></span> Slider Edit
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_post_path do %>
                      <span class="glyphicon glyphicon-film"></span> Novi Post
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_admin_session_path, method: :delete do %>
                      <span class="glyphicon glyphicon-off"></span> Sing Out
                    <% end %>
                  </li>
              </ul>
            </li>
          <% end %>
        </ul><!-- end navbar-nav -->
      
      </div><!-- navbar-inverse -->
  </div><!-- end navbar-container -->
</div><!-- end navbar mojNav -->


<div class="container">
<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %><!-- end flash msg -->

  <%= yield %>
</div>
<!-- First try for the online version of jQuery
  <script src="http://code.jquery.com/jquery.js"></script>-->

</body>
</html>